# VSCode 相关
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Windows 相关
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# 常见的临时文件
*.tmp
*.bak
*.swp
*~.nib

# 编译输出
bin/
obj/

# 包管理器目录
node_modules/
packages/

# 日志文件
*.log

# 个人配置文件（根据需要修改）
config.ini
secrets.json

# 其他你想忽略的文件或目录
*.aux
*.lof
*.lot
*.out
*.toc
*.synctex.gz
